Repository kloener/app-with-sheriff: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: fix eslint command
  package.json
Due: prettier --write

chore: prettify code
  src/app/app.config.ts
  src/app/app.html
  src/app/app.routes.ts
  src/app/app.spec.ts
  src/app/app.ts
  src/app/bookings/application/booking.service.ts
  src/app/bookings/application/booking.use-cases.ts
  src/app/bookings/domain/booking.entity.ts
  src/app/bookings/domain/booking.repository.ts
  src/app/bookings/infrastructure/booking.repository.impl.ts
  src/app/bookings/page/bookings-page.component.ts
  src/app/bookings/presentation/booking-list.component.ts
  src/app/bookings/presentation/booking.facade.ts
  src/app/discover-pokémons/application/discover-pokémon.use-cases.ts
  src/app/discover-pokémons/domain/pokémon.entity.ts
  src/app/discover-pokémons/domain/pokémon.repository.ts
  src/app/discover-pokémons/infrastructure/PokémonDetailDTO.ts
  src/app/discover-pokémons/infrastructure/index.ts
  src/app/discover-pokémons/infrastructure/pokémon.repository.impl.ts
  src/app/discover-pokémons/presentation/index.ts
  src/app/discover-pokémons/presentation/pokemon-list/pokemon-list.html
  src/app/discover-pokémons/presentation/pokemon-list/pokemon-list.scss
  src/app/discover-pokémons/presentation/pokemon-list/pokemon-list.ts
  src/app/discover-pokémons/ui/pokemon-full-image/pokemon-full-image.html
  src/app/discover-pokémons/ui/pokemon-full-image/pokemon-full-image.ts
  src/app/shared/utils/cache-async-by-params.annotation.spec.ts
  src/app/shared/utils/cache-async-by-params.annotation.ts
  src/index.html
  src/main.ts
Due: prettier --write, eslint --fix

feat(pokemon): fix repository tests
  src/app/discover-pokémons/infrastructure/PokémonDetailDTO.ts
  src/app/discover-pokémons/infrastructure/dtoToPokémon.ts
  src/app/discover-pokémons/infrastructure/mapDtoToPokémon.ts
  src/app/discover-pokémons/infrastructure/pokémon.repository.impl.spec.ts
  src/app/discover-pokémons/infrastructure/pokémon.repository.impl.ts
Due: prettier --write, eslint --fix

chore: add more tests
  package.json
  sheriff.config.ts
  src/app/app.html
  src/app/app.routes.ts
  src/app/app.spec.ts
  src/app/app.ts
  src/app/discover-pokémons/application/discover-pokémon.use-cases.spec.ts
  src/app/discover-pokémons/domain/pokémon.entity.spec.ts
  src/app/discover-pokémons/infrastructure/pokémon.repository.impl.spec.ts
  src/app/discover-pokémons/page/discover-pokemon-page/discover-pokemon-page.html
  src/app/discover-pokémons/page/discover-pokemon-page/discover-pokemon-page.scss
  src/app/discover-pokémons/page/discover-pokemon-page/discover-pokemon-page.spec.ts
  src/app/discover-pokémons/page/discover-pokemon-page/discover-pokemon-page.ts
  src/app/discover-pokémons/page/index.ts
Due: prettier --write, eslint --fix

chore: add provider helper function
  sheriff.config.ts
  src/app/app.config.ts
  src/app/bookings/application/booking.service.ts
  src/app/bookings/application/booking.use-cases.ts
  src/app/bookings/application/index.ts
  src/app/bookings/domain/booking.entity.ts
  src/app/bookings/domain/booking.repository.ts
  src/app/bookings/domain/index.ts
  src/app/bookings/infrastructure/booking.repository.impl.ts
  src/app/bookings/infrastructure/index.ts
  src/app/bookings/page/bookings-page.component.ts
  src/app/bookings/page/index.ts
  src/app/bookings/presentation/booking-list.component.ts
  src/app/bookings/presentation/booking.facade.ts
  src/app/bookings/presentation/index.ts
  src/app/discover-pokémons/public_api/index.ts
  src/app/discover-pokémons/public_api/provide-discover-pokemons.ts
Due: prettier --write, eslint --fix

feat: add public_api area to provide domain providers
  sheriff.config.ts
  src/app/app.routes.ts
  src/app/discover-pokémons/public_api/index.ts
  src/app/discover-pokémons/public_api/provide-discover-pokemons-mocks.ts
  src/app/discover-pokémons/public_api/routes.ts
Due: prettier --write, eslint --fix

feat(pokemon): fix tests using zoneless confgi
  angular.json
  package.json
  pnpm-lock.yaml
  src/app/discover-pokémons/infrastructure/pokémon.repository.impl.spec.ts
  src/app/discover-pokémons/infrastructure/pokémon.repository.impl.ts
  src/app/discover-pokémons/page/discover-pokemon-page/discover-pokemon-page.spec.ts
  src/app/discover-pokémons/presentation/pokemon-list/pokemon-list.spec.ts
  src/app/discover-pokémons/public_api/provide-discover-pokemons.spec.ts
  src/app/discover-pokémons/public_api/routes.ts
  src/app/discover-pokémons/ui/pokemon-full-image/pokemon-full-image.spec.ts
Due: prettier --write, eslint --fix

chore: create node.js.yml github action workflow
  .github/workflows/node.js.yml
Due: none

chore: add packageManager in package jso
  package.json
  src/app/discover-pokémons/presentation/pokemon-list/pokemon-list.spec.ts
Due: prettier --write, eslint --fix

chore: change github action install command
  .github/workflows/node.js.yml
Due: none

chore: change github action matrix
  .github/workflows/node.js.yml
  package.json
Due: prettier --write

chore: change github action cache behaviour
  .github/workflows/node.js.yml
Due: none

chore: change github action job name
  .github/workflows/node.js.yml
Due: none

chore: update README to include project overview and installation instructions
  README.md
Due: prettier --write

chore: update README to include additional DDD resource for Angular architectures
  README.md
Due: prettier --write

chore: add comments to sheriff config
  sheriff.config.ts
Due: prettier --write, eslint --fix

feat(pokemon): Refactor app configuration and enhance Pokémon list rendering
  src/app/app.config.ts
  src/app/app.spec.ts
  src/app/discover-pokémons/page/discover-pokemon-page/discover-pokemon-page.spec.ts
  src/app/discover-pokémons/presentation/pokemon-list/pokemon-list.html
  src/app/discover-pokémons/presentation/pokemon-list/pokemon-list.scss
  src/app/discover-pokémons/presentation/pokemon-list/pokemon-list.spec.ts
  src/app/discover-pokémons/presentation/pokemon-list/pokemon-list.ts
  src/app/discover-pokémons/public_api/routes.ts
  src/app/discover-pokémons/ui/pokemon-full-image/pokemon-full-image.scss
  src/app/shared/ui/observe-intersection.ts
Due: prettier --write, eslint --fix

feat(shared): add tests for observe-intersection
  sheriff.config.ts
  src/app/shared/ui/observe-intersection.spec.ts
  src/app/shared/ui/observe-intersection.ts
  src/app/shared/ui/window-token.ts
  src/app/shared/utils/assert-not-null.spec.ts
  src/app/shared/utils/assert-not-null.ts
  src/app/shared/utils/index.ts
Due: prettier --write, eslint --fix

chore: add badge
  README.md
Due: prettier --write

chore(shared): add barrel for shared ui
  src/app/shared/ui/index.ts
  src/app/shared/ui/observe-intersection.spec.ts
Due: prettier --write, eslint --fix

chore: use strict tsconfig
  src/app/discover-pokémons/presentation/pokemon-list/pokemon-list.ts
  tsconfig.json
Due: prettier --write, eslint --fix

chore: add dockerfile
  .dockerignore
  Dockerfile
  angular.json
Due: prettier --write

fix(gh actions): fix cache, do not cache src/app
  .github/workflows/node.js.yml
Due: none

feat(pokemons): Add command and event bus implementations; refactor Pokemon use cases
  sheriff.config.ts
  src/app/app.config.ts
  src/app/app.spec.ts
  src/app/discover-pokemons/application/commands/LoadMorePokemonsCommand.ts
  src/app/discover-pokemons/application/commands/index.ts
  src/app/discover-pokemons/application/discover-pokemon.use-cases.spec.ts
  src/app/discover-pokemons/application/discover-pokemon.use-cases.ts
  src/app/discover-pokemons/domain/pokemon.entity.spec.ts
  src/app/discover-pokemons/domain/pokemon.entity.ts
  src/app/discover-pokemons/page/discover-pokemon-page/discover-pokemon-page.spec.ts
  src/app/discover-pokemons/presentation/pokemon-list/pokemon-list.html
  src/app/discover-pokemons/presentation/pokemon-list/pokemon-list.spec.ts
  src/app/discover-pokemons/presentation/pokemon-list/pokemon-list.ts
  src/app/discover-pokemons/public_api/provide-discover-pokemons-mocks.ts
  src/app/discover-pokemons/public_api/provide-discover-pokemons.spec.ts
  src/app/discover-pokemons/public_api/provide-discover-pokemons.ts
  src/app/discover-pokemons/public_api/routes.ts
  src/app/shared/application/command-bus.ts
  src/app/shared/application/event-bus.ts
  src/app/shared/application/index.ts
  src/app/shared/domain/command-bus.ts
  src/app/shared/domain/event-bus.ts
  src/app/shared/domain/index.ts
  src/app/shared/public_api/index.ts
Due: prettier --write, eslint --fix

feat(pokemons): use redux pattern
  src/app/discover-pokemons/application/commands/LoadMorePokemonsCommand.ts
  src/app/discover-pokemons/application/discover-pokemon.use-cases.ts
  src/app/discover-pokemons/presentation/pokemon-list/pokemon-list.html
  src/app/discover-pokemons/presentation/pokemon-list/pokemon-list.ts
  src/app/shared/application/command-bus.ts
  src/app/shared/domain/command-bus.ts
Due: prettier --write, eslint --fix

feat(pokemons): Add event bus integration for Pokemon updates and refactor use cases
  src/app/discover-pokemons/application/discover-pokemon.use-cases.ts
  src/app/discover-pokemons/domain/events/pokemons-updated.ts
  src/app/discover-pokemons/presentation/pokemon-list/pokemon-list.html
  src/app/discover-pokemons/public_api/provide-discover-pokemons-mocks.ts
  src/app/discover-pokemons/public_api/provide-discover-pokemons.ts
Due: prettier --write, eslint --fix

feat(pokemons): Add basic Pokemon details retrieval and event handling
  src/app/app.config.ts
  src/app/app.routes.ts
  src/app/discover-pokemons/application/discover-pokemon.use-cases.spec.ts
  src/app/discover-pokemons/application/discover-pokemon.use-cases.ts
  src/app/discover-pokemons/domain/events/pokemon-loaded.ts
  src/app/discover-pokemons/page/details-pokemon-page/details-pokemon-page.html
  src/app/discover-pokemons/page/details-pokemon-page/details-pokemon-page.scss
  src/app/discover-pokemons/page/details-pokemon-page/details-pokemon-page.spec.ts
  src/app/discover-pokemons/page/details-pokemon-page/details-pokemon-page.ts
  src/app/discover-pokemons/page/discover-pokemon-page/discover-pokemon-page.spec.ts
  src/app/discover-pokemons/page/index.ts
  src/app/discover-pokemons/presentation/index.ts
  src/app/discover-pokemons/presentation/pokemon-details/pokemon-details.html
  src/app/discover-pokemons/presentation/pokemon-details/pokemon-details.scss
  src/app/discover-pokemons/presentation/pokemon-details/pokemon-details.spec.ts
  src/app/discover-pokemons/presentation/pokemon-details/pokemon-details.ts
  src/app/discover-pokemons/presentation/pokemon-list/pokemon-list.html
  src/app/discover-pokemons/presentation/pokemon-list/pokemon-list.ts
  src/app/discover-pokemons/public_api/provide-discover-pokemons.ts
  src/app/discover-pokemons/public_api/routes.ts
  src/app/discover-pokemons/ui/pokemon-full-image/pokemon-full-image.html
  src/app/discover-pokemons/ui/pokemon-full-image/pokemon-full-image.ts
  src/app/shared/application/event-bus.ts
  src/app/shared/application/index.ts
  src/app/shared/application/log-method.annotation.ts
Due: prettier --write, eslint --fix

feat(pokemons): Add sorting functionality to Pokemon list retrieval
  src/app/discover-pokemons/application/discover-pokemon.use-cases.ts
Due: prettier --write, eslint --fix

feat(pokemons): optimize load pokemon use-case
  src/app/discover-pokemons/application/commands/LoadPokemonsCommand.ts
  src/app/discover-pokemons/application/commands/index.ts
  src/app/discover-pokemons/application/discover-pokemon.use-cases.ts
  src/app/discover-pokemons/infrastructure/PokemonDetailDTO.ts
  src/app/discover-pokemons/infrastructure/dtoToPokemon.ts
  src/app/discover-pokemons/presentation/pokemon-list/pokemon-list.html
  src/app/discover-pokemons/presentation/pokemon-list/pokemon-list.scss
  src/app/discover-pokemons/presentation/pokemon-list/pokemon-list.ts
  src/app/discover-pokemons/public_api/provide-discover-pokemons.ts
  src/app/shared/application/command-bus.ts
Due: prettier --write, eslint --fix

feat(pokemons): add warning for invalid pokemon dtos
  src/app/discover-pokemons/domain/pokemon.entity.ts
  src/app/discover-pokemons/infrastructure/PokemonDetailDTO.ts
  src/app/discover-pokemons/infrastructure/dtoToPokemon.ts
  src/app/discover-pokemons/infrastructure/pokemon.repository.impl.ts
Due: prettier --write, eslint --fix

feat(pokemons): add types and sizes to list view
  src/app/app.scss
  src/app/discover-pokemons/application/discover-pokemon.use-cases.ts
  src/app/discover-pokemons/domain/pokemon.entity.ts
  src/app/discover-pokemons/infrastructure/PokemonDetailDTO.ts
  src/app/discover-pokemons/infrastructure/dtoToPokemon.ts
  src/app/discover-pokemons/infrastructure/pokemon.repository.impl.ts
  src/app/discover-pokemons/page/details-pokemon-page/details-pokemon-page.html
  src/app/discover-pokemons/presentation/pokemon-list/pokemon-list.html
  src/app/discover-pokemons/presentation/pokemon-list/pokemon-list.scss
  src/app/discover-pokemons/presentation/pokemon-list/pokemon-list.ts
  src/app/discover-pokemons/public_api/provide-discover-pokemons-mocks.ts
  src/app/discover-pokemons/ui/pokemon-full-image/pokemon-full-image.html
  src/app/discover-pokemons/ui/pokemon-full-image/pokemon-full-image.scss
  src/app/discover-pokemons/ui/pokemon-full-image/pokemon-full-image.ts
  src/app/shared/application/command-bus.ts
  src/app/shared/application/index.ts
  src/app/shared/application/log-async-method.annotation.ts
  src/app/shared/application/log-method.annotation.ts
  src/app/shared/ui/index.ts
  src/app/shared/ui/round-pipe.spec.ts
  src/app/shared/ui/round-pipe.ts
  src/app/shared/ui/ucfirst-pipe.spec.ts
  src/app/shared/ui/ucfirst-pipe.ts
Due: prettier --write, eslint --fix

feat(pokemons): add more generic pipes
  src/app/discover-pokemons/presentation/pokemon-list/pokemon-list.html
  src/app/discover-pokemons/presentation/pokemon-list/pokemon-list.ts
  src/app/shared/application/log-async-method.annotation.ts
  src/app/shared/application/log-method.annotation.ts
  src/app/shared/ui/index.ts
  src/app/shared/ui/join-pipe.spec.ts
  src/app/shared/ui/join-pipe.ts
  src/app/shared/ui/round-pipe.ts
  src/app/shared/ui/ucfirst-pipe.ts
Due: prettier --write, eslint --fix

feat(pokemons): add more details
  src/app/discover-pokemons/domain/pokemon.entity.ts
  src/app/discover-pokemons/infrastructure/PokemonDetailDTO.ts
  src/app/discover-pokemons/infrastructure/dtoToPokemon.ts
  src/app/discover-pokemons/page/details-pokemon-page/details-pokemon-page.html
  src/app/discover-pokemons/presentation/pokemon-details/pokemon-details.html
  src/app/discover-pokemons/presentation/pokemon-details/pokemon-details.scss
  src/app/discover-pokemons/presentation/pokemon-details/pokemon-details.ts
  src/app/discover-pokemons/presentation/pokemon-list/pokemon-list.scss
  src/app/discover-pokemons/public_api/provide-discover-pokemons-mocks.ts
  src/app/shared/ui/index.ts
  src/app/shared/ui/pad-pipe.spec.ts
  src/app/shared/ui/pad-pipe.ts
  src/styles.scss
  src/styles/_mixins.scss
Due: prettier --write, eslint --fix

feat(pokemons): use normal img src to load images
  src/app/discover-pokemons/presentation/pokemon-details/pokemon-details.html
  src/app/discover-pokemons/ui/pokemon-full-image/pokemon-full-image.html
  src/app/discover-pokemons/ui/pokemon-full-image/pokemon-full-image.scss
  src/app/discover-pokemons/ui/pokemon-full-image/pokemon-full-image.ts
  src/app/shared/ui/ucfirst-pipe.ts
Due: prettier --write, eslint --fix

feat(pokemons): add pokemon builder
  src/app/discover-pokemons/application/discover-pokemon.use-cases.spec.ts
  src/app/discover-pokemons/domain/events/index.ts
  src/app/discover-pokemons/domain/index.ts
  src/app/discover-pokemons/domain/pokemon-builder.spec.ts
  src/app/discover-pokemons/domain/pokemon-builder.ts
  src/app/discover-pokemons/domain/pokemon-stats.ts
  src/app/discover-pokemons/domain/pokemon.entity.spec.ts
  src/app/discover-pokemons/domain/pokemon.entity.ts
  src/app/discover-pokemons/infrastructure/dtoToPokemon.ts
  src/app/discover-pokemons/page/details-pokemon-page/details-pokemon-page.spec.ts
  src/app/discover-pokemons/page/discover-pokemon-page/discover-pokemon-page.spec.ts
  src/app/discover-pokemons/presentation/pokemon-details/pokemon-details.spec.ts
  src/app/discover-pokemons/presentation/pokemon-list/pokemon-list.spec.ts
  src/app/discover-pokemons/ui/pokemon-full-image/pokemon-full-image.spec.ts
Due: prettier --write, eslint --fix

feat(pokemons): fix tests
  src/app/discover-pokemons/page/discover-pokemon-page/discover-pokemon-page.spec.ts
  src/app/discover-pokemons/presentation/pokemon-list/pokemon-list.spec.ts
Due: prettier --write, eslint --fix

feat(pokemons): fix lints
  src/app/discover-pokemons/application/discover-pokemon.use-cases.ts
Due: prettier --write, eslint --fix

feat(pokemons): use signal as state ref
  src/app/discover-pokemons/application/discover-pokemon.use-cases.ts
  src/app/discover-pokemons/presentation/pokemon-details/pokemon-details.html
  src/app/discover-pokemons/presentation/pokemon-details/pokemon-details.ts
  src/app/discover-pokemons/presentation/pokemon-list/pokemon-list.html
  src/app/discover-pokemons/presentation/pokemon-list/pokemon-list.ts
Due: prettier --write, eslint --fix

feat(pokemons): enhance sheriff config using more placeholders
  README.md
  sheriff.config.ts
  src/app/discover-pokemons/application/discover-pokemon.use-cases.ts
  src/app/discover-pokemons/infrastructure/pokemon.repository.impl.ts
  src/app/discover-pokemons/page/details-pokemon-page/details-pokemon-page.ts
  src/app/discover-pokemons/page/details-pokemon-page/index.ts
  src/app/discover-pokemons/page/discover-pokemon-page/discover-pokemon-page.ts
  src/app/discover-pokemons/page/discover-pokemon-page/index.ts
  src/app/discover-pokemons/page/index.ts
  src/app/discover-pokemons/presentation/index.ts
  src/app/discover-pokemons/presentation/pokemon-details/index.ts
  src/app/discover-pokemons/presentation/pokemon-list/index.ts
  src/app/discover-pokemons/public_api/routes.ts
  src/app/shared/application/command-bus.ts
  src/app/shared/application/event-bus.ts
  src/app/shared/application/index.ts
  src/app/shared/utils/index.ts
  src/app/shared/utils/log-async-method.annotation.ts
  src/app/shared/utils/log-method.annotation.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.{scss,css,html,json,md})
  eslint --fix: any of: *.{ts,js}
